
.name-place {
    height: 40px;
    margin-left: 500px;
    margin-top: 10px;
    width: 200px;
    display: inline-block;


}
.email-place {
    height: 40px;
    margin-left: 500px;
    margin-top: 05px;
    width: 200px;
    display: inline-block;
}
.p-title {
    display: block;
}
.sign-up {
    border-radius: 8px;
    border: none;
    background-color: rgb(55, 55, 212);
    padding-top: 20px;
    padding-bottom: 20px;
    width:200px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 505px;
    margin-top: 10px;
    cursor: pointer;
}
.sign-up:hover {
    opacity: 0.6;
    text-decoration: underline;
    text-decoration: solid;
    transition: 0.2s;

}
.sign-up:active {
    opacity: 0.5;
    transition: 0.2s;
    background-color: rgb(6, 137, 137);

}

